.menu{
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    
    
}

.address{
    background-color: darkgrey;
    position: fixed;
    margin-top: 110px;
    width: 100%;
}

.logo{
    color:darkslategrey;
    display: inline-block;
}

.menuItem{
    color: brown;
    padding: 5px;
    background-color: aliceblue;
}

.menuItems{
    display: inline-block;
    position: relative;
    left: 1000px;
}

.menuItem:hover{
    background-color: blueviolet;
}

.content{
    margin-top: 200px;
    position: absolute;
}

.foot{
    position: absolute;
    margin-top:370px
}

.contentAccount{
    margin-top: 150px;
    position: absolute;
}

.loginBox{
    background-color: antiquewhite;
    margin: 0px,600px;
    align-content: center;
    position: absolute;
}

body{
    margin: 0;
}

