.menu{
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    
}

.address{
    background-color: darkgrey;
    position: fixed;
    margin-top: 150px;
}

.logo{
    color:darkslategrey
}

.content{
    margin-top: 200px;
    position: absolute;
}

.foot{
    position: absolute;
    margin-top:370px
}

.contentAccount{
    margin-top: 150px;
    position: absolute;
}

.loginBox{
    background-color: antiquewhite;
    margin: 0px,600px;
    align-content: center;
    position: absolute;
}

body{
    margin: 0;
}