.menu{
    background-color: #1E2749;
    width: 100%;
    position: fixed;
    
    
}

.address{
    background-color: #81A094;
    position: fixed;
    margin-top: 110px;
    width: 100%;
    padding-left: 15px;
}

.logo{
    color:white;
    display: inline-block;
}

.menuItem{
    color: white;
    padding: 5px;
    background-color: #273469;
}

.menuItems{
    display: inline-block;
    position: relative;
    left: 920px;
    
}

.menuItem:hover{
    background-color: #E4D9FF;
    color: black;
}

.content{
    margin-top: 160px;
    position: absolute;
    padding: 30px;
}

.foot{
    position: absolute;
    margin-top:470px;
    background-color: #30343F;
    color: white;
    width: 100%;
    padding: 30px;
}

.contentAccount{
    margin-top: 150px;
    position: absolute;
}

.loginBox{
    background-color: antiquewhite;
    margin: 0px,600px;
    align-content: center;
    position: absolute;
}

.E404{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}


h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

P{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

a{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
}

button{
    font-family: 'Josefin Sans', sans-serif;
}
