<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta | Kashifood</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="menu">
        <h1>Mi Cuenta</h1>
        <ul>
            <li><a href="indexL.html">Regresar a Menú Principal</a></li>
            <li><a href="accountEdit.html">Editar Datos</a></li>
            <li><a href="">Historial de Pedidos</a></li>
        </ul>
    </div>
    <div class="contentAccount">
        <h2>Información de Contacto</h2>
        <p><b>Nombre (s):</b></p>
        <p><b>Apellido Paterno:</b></p>
        <p><b>Apellido Materno:</b></p>
        <p><b>Email:</b></p>
        <p><b>Teléfono:</b></p>

        <h2>Dirección de Envío</h2>
        <p><b>Calle:</b></p>
        <p><b>Número Interior:</b></p>
        <p><b>Número Exterior:</b></p>
        <p><b>Colonia:</b></p>
        <p><b>Alcaldía:</b></p>
        <p><b>C.P: </b></p>
        <p><b>Ciudad de México: </b></p>

        <h2>Información de Pago</h2>
    </div>
    
</body>
</html>