<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Datos | Kashifood</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="menu">
        <h1>Mi Cuenta</h1>
        <ul>
            <li><a href="indexL.html">Regresar a Menú Principal</a></li>
            <li><a href="account.html">Regresar a Mi Cuenta</a></li>
            <li><a href="">Historial de Pedidos</a></li>
        </ul>
    </div>
    <div class="contentAccount">
        <p><b>Email:</b></p>
        <input type="email" name="" id="">

        <p><b>Contraseña</b></p>
        <input type="password" name="" id="">

        <h2>Información de Contacto</h2>
        <p><b>Nombre (s):</b></p>
        <input type="text" name="" id="" placeholder="Nombre">
        <p><b>Apellido Paterno:</b></p>
        <input type="text" name="" id="" placeholder="Apellido Paterno">
        <p><b>Apellido Materno:</b></p>
        <input type="text" name="" id="" placeholder="Apellido Materno">
        <p><b>Teléfono:</b></p>
        <input type="tel" name="" id="">
        <h2>Dirección de Envío</h2>
        <p><b>Calle:</b></p>
        <input type="text" name="" id="">
        <p><b>Número Interior:</b></p>
        <input type="number" name="" id="">
        <p><b>Número Exterior:</b></p>
        <input type="number" name="" id="">
        <p><b>Colonia:</b></p>
        <input type="text" name="" id="">
        <p><b>Alcaldía:</b></p>
        <input type="text" name="" id="">
        <p><b>C.P: </b></p>
        <input type="number" name="" id="">
        <p><b>Estado: </b></p>
        <input type="text" name="" id="">

        <h2>Información de Pago</h2>
        <button onclick="window.location.href='account.html'">Guardar Información</button>
    </div>
    
</body>
</html>