<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery | Kashifood</title>
</head>
<body>
    <div class="Recovery">
        <h1>¿Olvidaste tu Contraseña?</h1>
        <p>Ingresa el correo con el que te registraste: </p>
        <input type="email" name="" id="">
        <button onclick="window.location.href='404.html'">Recuperar Contraseña</button>
        <p>O, <a href="login.html">Inicia Sesión</a></p>
    </div>
</body>
</html>