<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito | Kashifood</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <ul>
            <h1 class="logo">Kashifood</h1>
            <table class="menuItems">
                <thead>
                    <td><a class="menuItem" href="indexL.html">Home</a></td>
                    <td><a class="menuItem" href="restaurantsL.html">Restaurantes</a></td>
                    <td><a class="menuItem" href="account.html">Mi Cuenta</a></td>
                    <td style="padding-left: 10px;"><a href="cart.html"><img src="../static/images/cart.png" alt="cart"></a></td>
                    <td style="padding-left: 10px;"><a href="index.html"><img src="../static/images/icons8-salida-50.png" alt=""></a></tr>
                </thead>
            </table>
            
            
        </ul>
    </div>
    <div class="address">
        <p><a href="login.html"><b>Inicie Sesión</b></a> para ver su dirección de envío.</p>
    </div>
    <div class="content">
        <h1>Carrito</h1>
        <table>
            <thead>
                <tr>Cantidad</tr>
                <tr>Producto</tr>
                <tr>Precio</tr>
            </thead>
        </table>
        <a href="">Eliminar</a>
        <a href="">Vaciar Carrito</a>
        <a href="restaurantsL.html">Seguir Ordenando</a>
        <button onclick="window.location.href='404.html'">Proceder al Pago</button>
    </div>
    <div class="foot">
        <p>Copyright (C) 2022 Kashi Enterprises</p>
    </div>
</body>
</html>