<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito | Kashifood</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="menu">
        <ul>
            <h1 class="logo">Kashifood</h1>
            <table class="menuItems">
                <thead>
                    <td><a class="menuItem" href="index.html">Home</a></td>
                    <td><a class="menuItem" href="restaurantsL.html">Restaurantes</a></td>
                    <td><a class="menuItem" href="login.html">Mi Cuenta</a></td>
                    <td><a class="menuItem" href="cart.html">Carrito</a></td>
                    <td><a class="menuItem" href="index.html">Salir</a></tr>
                </thead>
            </table>
            
            
        </ul>
    </div>
    <div class="address">
        <p><a href="login.html"><b>Inicie Sesión</b></a> para ver su dirección de envío.</p>
    </div>
    <div class="content">
        <h1>Carrito</h1>
        <table>
            <thead>
                <tr>Cantidad</tr>
                <tr>Producto</tr>
                <tr>Precio</tr>
            </thead>
        </table>
        <a href="">Eliminar</a>
        <a href="">Vaciar Carrito</a>
        <a href="restaurantsL.html">Seguir Ordenando</a>
        <button onclick="window.location.href='404.html'">Proceder al Pago</button>
    </div>
    <div class="foot">
        <p>Copyright (C) 2022 Kashi Enterprises</p>
    </div>
</body>
</html>