<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <title>Login | Kashifood</title>
</head>
<body>
    <div class="loginBox">
        <H2>Login</H2>
        <p>Inicia Sesión en tu cuenta</p>
        <p>Usuario</p>
        <input type="text">
        <p>Contraseña</p>
        <input type="password" name="" id="">
        <a href="accountRecovery.html">¿Olvidaste tu contraseña?</a>
        <button onclick="window.location.href='indexL.html'">Iniciar Sesión</button>
        <p>¿No tienes cuenta? <a href="signup.html">Registrarse</a></p>
    </div>
</body>
</html>